main {
	background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	width: 100vw;
	min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.gameCard{
	width: 100%;
	height: 125px;
	background-color: #fff;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.gameCard i{
	font-size: 50px;
}

.gameCardBack{
	background-color: red;
	transform: rotateY( 180deg );
}
.gameCardTransparentLayer{
    position: absolute;
    width: 100%;
    height: 100%;
}

.gameCard.is-flipped {
	transform: rotateY(180deg);
  }

.gameCardFront{
	background-color: #f2f2f2;
    height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gameCardBack{
    background-color: #fff;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
	margin-top: -125px;
	padding-top: 20px;
}

.gameRow{
	perspective: 100%;
}

.gameCardFace{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gameCardCol{
	transition: transform 1s;
	transform-style: preserve-3d;
}

.dismiss{
	opacity: 0;
	transition: 1000ms;
	position: absolute;
	visibility: hidden;
}

.displayNone{
	display: none;
}